#hero {
  margin: 120px 0px 20px;
  /* min-height: 100vh;
  padding-top: 5rem;
  display: flex;
  align-items: center; */
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  background: linear-gradient(to right, var(--purple-light), #60a5fa);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: var(--text-secondary);
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }
}
